[submodule "fork-typography"]
	path = fork-typography
	url = https://github.com/samhocevar/fork-typography.git
[submodule "modules/Typography"]
	path = modules/Typography
	url = https://github.com/samhocevar/fork-typography.git
